* {
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
h2{
    color: navy;
    margin-bottom: 25px;
}
p {
    margin: 25px 0px;
}

header{
    background : linear-gradient(to right, #A4E163, #1BBEE7);
    color: white;

    max-height: 150px;
    padding : 10px 10px;
    display: flex;
    align-items: top;
    justify-content: space-between;

    font-size: x-large;
}
header a {
    display: inline-block;
}
header>div {
    align-items: end;
    display: flex;
    flex-direction: column;
}
footer>a img, header>a>img{
    width: 100px;
    margin-right: 100px;
}
footer>div a img, header>div a img{
    width: 50px;
    margin-top: 15px;
}
header>div>select {
    width: 40px;
}

a:hover, #searchDiv:hover {
    transform:scale(1.05);
    transition: transform 0.4s;
}
a:not(:hover), #searchDiv:not(:hover) {
    transform : scale(1);
    transition: transform 0.4s;
}

nav{
    background : linear-gradient(to top, #25A182, #00A5CF);
    
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
}
nav div img{
    margin-right: 5px;
    width: 25px;
}
nav a, #searchDiv{
    margin : 10px;
    padding: 12px;
    background: #7DD44A;
    border-radius : 20px;
    text-decoration: none;
    color: white;
}
#searchBar{
    border-radius: 15px;
}
.highlight{
    background-color: greenyellow;
}

article, main figure{
    margin: 75px 200px;
    padding: 20px;
}
#headOfBody {
    border:#004E64 2px dashed;
    border-radius: 25px;
    text-align: center;
}

.faireUnDon{
    background-color: #A4E163;
    border-radius: 40px;
    padding: 10px 50px;
    margin: 50px 200px;
}
.faireUnDon h2 {
    color: navy;
    margin-left: 100px;
}.faireUnDon h2:hover {
    transform: scale3d(1.15, 1.2, 1.5);
    transition: transform 0.4s;
}.faireUnDon h2:not(hover) {
    transform: scale3d(1, 1, 1);
    transition: transform 0.4s;
}
article>a {
    text-decoration: none;
}

#contact {
    max-width: 400px;
    border:#004E64 2px dashed;
    border-radius: 25px;
}


figure {
    display: flex;
}
figure>div {
    max-width: 800px;
}
figure>aside {
    margin: 100px 0px 0px 200px;
}
figure>aside>a {
    text-decoration: none;
}


footer{
    display : flex;
    align-items: end;
    justify-content: space-between;
    margin : 20px 0;
    padding : 20px;
    background : #F6D82C;
    text-align: center;
}


footer>a img{
    width: 150px;
    margin-right: 100px;
}

footer>img{
    width: 600px;
}

footer>div{
    width: 200px;
    display : flex;
    justify-content: space-between;
}

footer>div>a img{
    width: 50px;
    margin-top: 15px;
}